{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="map"></div>

<form method="post" action="{% url 'index' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button id="submit-btn" type="submit" disabled>Add A Destination</button>
</form>

<!-- <table>
      <thead>
        <tr>
          <th>City</th>
          <th>Country</th>
          <th>Visited Date</th>
        </tr>
      </thead>
      <tbody>
        {% for destination in destinations %}
        <tr>
          <td>{{ destination.city }}</td>
          <td>{{ destination.country }}</td>
          <td>{{ destination.visited_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table> -->

{% endblock %}



{% block js %}
<script>
  let map = L.map('map', {
      maxBounds: [[-75, -190], [90, 190]],
      maxBoundsViscosity: 0.5,
  }).setView([0, 0], 2);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
  }).addTo(map);


  // require lat/lng fields prior to submission
  $("#id_latitude, #id_longitude").prop("disabled", true);
  function enableDisableSubmitBtn() {
    if ($("#id_latitude").val() == "" || $("#id_longitude").val() == "") {
      // disable fields if empty
      $("#submit-btn").prop("disabled", true);
    } else {
      // enable once user drags marker icon on map
      $("#submit-btn").prop("disabled", false);
    }
  }

  // original latitude/longitude
  let originalLat = document.getElementById("id_latitude").value;
  let originalLng = document.getElementById("id_longitude").value;

  // make the map-marker draggable
  let marker = L.marker([originalLat, originalLng], {draggable: true }).addTo(map);

  // prefill lat/lng input values on map-click or marker-drag
  marker.on("dragend", function (e) {
    updateCoords(marker.getLatLng().lat, marker.getLatLng().lng, map.getZoom());
  });
  map.on("click", function (e) {
    marker.setLatLng(e.latlng);
    updateCoords(marker.getLatLng().lat, marker.getLatLng().lng, map.getZoom());
  });

  // update the lat/lng input fields to 5-decimal place values
  function updateCoords(lat, lng, zoom) {
    document.getElementById("id_latitude").value = marker.getLatLng().lat.toFixed(5);
    document.getElementById("id_longitude").value = marker.getLatLng().lng.toFixed(5);
    // zoom the user to the map on drag
    zoom = zoom < 10 ? 10 : zoom;
    map.flyTo([lat, lng], zoom);
    // enable the submit button now that there are valid lat/lng values
    enableDisableSubmitBtn();
  }
</script>

{% endblock %}
