{% extends "base.html" %}
{% load static %}  
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>   
    <meta charset="utf-8" />
    <title>My Travel Map</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <style>
      #map {
        height: 400px;
      }
    </style>
  
    <!-- <a href="{% url 'account_login' %}">Login</a>
    <a href="{% url 'account_logout' %}">Logout</a> -->
</head>
<body>
    <!-- <h1>Welcome to My Travel Map</h1>
    <p>Mark the places you've been to and the foods you've eaten.</p>
    <p>Create your bucket list of places to go and foods to eat.</p> -->
    <div id="map"></div>

    <script>
      var map = L.map('map').setView([0, 0], 2);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
      }).addTo(map);
    </script>

    <form method="post" action="{% url 'index' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Add A Destination</button>
    </form>

</body>
</html>
{%endblock%}